/**
 * Document defaults
 */
 html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    position: relative;
    min-height: 100%;
  
}
body {
  text-align: center;
  background-color: #F9F9F9;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#content {
    padding-bottom: 100px/* hauteur footer */ ;
}

/*******style loader*******/

#loader {
  margin-top: 20vh;
}



ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.left {
  text-align: left;
}
ul.right {
  text-align: right;
}

nav.bg-light {
  /*background-color: #f9a726 !important;*/
}

/*******style page d'accueil********/
.title_carousel {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.accueil {
  background-color: rgba(0, 0, 0, 0.5);
}
#row-accueil {
  padding-top: 20px;
  padding-bottom: 20px;
}
.span-layout { /*by jc decourtheix*/
  font-size: 0.4em;
}
a.phone-number {
  text-decoration: none;
}
.phone-number {
  vertical-align: 25%;
}
span.card-title {
  vertical-align: 25%;
  font-size: 1em;
}

#row-accueil-responsive{
  display: none;
}


/*******style maintenance informatique******/


/*******style réparations smartphone*******/
.row-smartphone{
  background-color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
}
.div_smart {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #f9a726;
}
.btn-contact {
}
/******couleur des sites******/
.check {
  color: rgba(16, 193, 16, 0.95);
}
.map-marker {
  color: #ffb300;
}
.desktop {
  color: #e62128;
}
.clock {
  color: #2aa8ce;
}

/*******style création web******/
/*******bouton********/

.btn-info {
  display: inline-block;
  border-color: #46c601;
  background-color: #46c601;
}


/*******style footer ********/

/*FOOTER COLLE EN BAS*/
.footer {
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,.32);
    color: #FFFFFF;
}
  
.container {
  max-width: 80%;
  min-width: 80%;
}

@media (max-width: 768px) {

  /***************** Accueil ***************/
  #row-accueil-responsive{
    display: inline;
  }
  #row-accueil {
    display: none;
  }
  .div-accueil {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  }
}